# Ignore PowerShell output logs
*.log

# Ignore system files
Thumbs.db
ehthumbs.db
Desktop.ini

# Ignore sensitive files
*.pem
*.pfx
*.key
*.cer

# Ignore VSCode settings
.vscode/

# Ignore hidden folders
.*

# Ignore ZIP and backup artifacts
*.zip
*.bak
*.tmp
